.cart-item {
  display: flex;
  gap: 30px;
}

.cart-item p {
  font-size: 0.8rem;
}

.cart-item button {
  padding: 2px;
}

.cart-item-name-container {
  text-align: left;
  display: flex;
  gap: 10px;
}

.cart-item h5 {
  margin: 0;
}

.cart-item img {
  max-width: 100px;
  border-radius: 10px;
}

.cart-item-quant-price-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.quantity-button {
  width: 30px;
  height: 30px;

  padding: 5px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: var(--button-hover-bg-color);
}

.bin-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 30px;

  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bin-button img {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.cart-item-size,
.cart-item textarea,
.table-select {
  flex: 2;
  color: var(--input-text-color);
  background-color: var(--input-bg-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  font-size: 14px;
}
