/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Black background */
  padding: 0 30px;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 90px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none; /* Ensure no underline for links */
  color: #fff; /* Default link color */
}

.nav-links a:hover {
  color: #a4694e; /* Orange on hover */
}

.nav-links h3 {
  margin-right: 40px;
  font-weight: bold;
  font-size: 20px;
}

.nav-links h3:hover {
  color: #a4694e; /* Orange on hover */
}

.login-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--button-hover-bg-color); /* Darker brown */
}

/* Toggle Button */
.toggle-button {
  display: none; /* Hide by default */
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  z-index: 1100; /* Place the toggle button above the menu */
  right: 20px;
}

.mobile-menu {
  display: none;
}

/* Mobile Menu Styles */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* Space for the close button */
  z-index: 1000; /* Ensure it appears above other elements */
}

.mobile-menu h3 {
  display: block;
  padding: 5px;
  margin: 15px 0; /* Add some spacing between menu items */
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.mobile-menu h3:hover {
  color: #a4694e; /* Orange on hover */
}

/* Close Button */
.close-button {
  position: absolute; /* Position relative to mobile menu */
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  top: 10px; /* Position close to the top of the menu */
  right: 20px; /* Align to the right */
  z-index: 1100; /* Ensure it's above all other elements */
}

/* User Account Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute; /* Stay relative to the .dropdown container */
  top: 120%; /* Position it directly below the .dropdown container */
  right: 0; /* Align with the right edge of the .dropdown container */
  background-color: white; /* Keep the background color */
  border: 1px solid #a4694e;
  border-radius: 5px;
  display: block;
  flex-direction: column;
  z-index: 1000; /* Ensure it appears above other elements */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
  width: 250px;
}

.dropdown-menu a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 20px 0px;
  font-size: 18px;
  width: 100%;
  text-align: center; /* Center text */
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  color: #8b4513;
}

.dropdown-divider {
  height: 1px;
  background-color: #ddd;
  width: 90%;
  margin-left: 10px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .toggle-button {
    display: block; /* Show toggle button in mobile view */
  }

  .mobile-menu {
    display: flex; /* Show menu in mobile view */
  }

  .login-button {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .dropdown-menu {
    position: static;
    background-color: black;
    width: 250px;
    text-align: center;
    padding: 10px;
    flex-direction: column; /* Stack items vertically in mobile view */
  }

  .dropdown-menu a {
    padding: 15px 25px;
    font-size: 18px;
    color: white;
    padding: 15px 0;
  }
  .mobile-menu h3:hover {
    color: #8b4513;
  }
  .dropdown-divider {
    display: none;
  }
}
