.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px;
  margin: 60px;
  width: 300px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  text-align: center;
}

.reset-form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}