/* Review Slider Container */
.review-slider {
  width: 98%;
  margin: 0 auto;
  position: relative;
}

/* Custom Arrow Styling */
.custom-arrow {
  font-size: 2rem;
  color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Hover effect for both arrows */
.custom-arrow:hover {
  background-color: var(--button-bg-color);
  color: transparent;
}

/* Slick Dots Styles */
.slick-dots li button:before {
  color: #ccc;
}

.slick-dots li.slick-active button:before {
  color: #f39c12;
}

/* Card Layout for Slick Slider */
.slick-slide {
  padding: 10px; /* Add spacing between slides */
  box-sizing: border-box;
}

.slick-slide > div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
