.reviews-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Move items to the bottom */
  align-items: center; /* Center items horizontally */
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 5px;
  min-height: 60vh; /* Set a minimum height to fill the screen */
}

.reviews-text {
  margin-bottom: 10px; /* Add some spacing from the bottom */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .reviews-container {
    font-size: 26px; /* Adjust font size for tablets */
    font-weight: bold;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .reviews-container {
    font-size: 24px; /* Adjust font size for mobile */
    font-weight: bold;
  }
}
